* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.flex {
  display: flex;
}

/* ******************* BACKGROUND ****************** */
.bg {
  width: 100%;
  height: 100vh;
  background: rgb(10,0,36);
  background: linear-gradient(184deg, rgba(10,0,36,1) 0%, rgba(35,9,121,1) 35%, rgba(86,22,235,1) 100%);
}

/* ******************* FORM LOGIN ****************** */

#form-ui {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  position: absolute;
  height: 100vh;
}

#form {
  display: grid;
  place-items: center;
  width: 300px;
  height: 472px;
  padding: 25px;
  background-color: #161616;
  box-shadow: 0px 30px 80px #5616eb;
  outline: 1px solid #410fb8;
  border-radius: 10px;
  position: relative;
}

#form-body {
  position: absolute;
  top: 50%;
  right: 25px;
  left: 25px;
  width: 230px;
  margin: -156px auto 0 auto;
}

#welcome-lines {
  text-align: center;
  line-height: 1;
}

#welcome-line-1 {
  color: #5616eb;
  font-weight: 600;
  font-size: 40px;
}

#welcome-line-2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 17px;
}

#input-area {
  margin-top: 20px;
}

.form-inp {
  padding: 0px 18px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
  display: flex;
  height: 2.5rem;
}

.form-inp:focus {
  border: 1px solid #5616eb;
}

.form-inp:first-child {
  margin-bottom: 10px;
}
.form-inp:nth-child(2) {
  margin-bottom: 10px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: #5616eb;
  border: none;
  padding: 0;
  margin: 0;
}

.form-inp input:focus {
  outline: none;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  display: block;
  width: 100%;
  color: #5616eb;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid #5616eb;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

#submit-button:hover {
  transition: all ease-in-out .3s;
  background-color: #5616eb;
  color: #161616;
  cursor: pointer;
}

#have-account {
  text-align: center;
  margin-top: 10px;
}

#have-account button {
  color: #868686;
  font-size: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}  
.btn-pssw {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.show-password {
  width: 18px;
  margin-top: 4px;
}


/* ******************* GOOGLE BUTTON ****************** */
.signin {
  width: 100%;
  max-width: 320px;
  display: flex;
  padding: 0.4rem 1.4rem;
  font-size: 0.82rem;
  line-height: 1.2rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(43, 39, 39, 0.25);
  gap: 1rem;
  color: #c4d2dc;
  background-color: #19242b;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
}

.signin:active {
  transform: scale(0.975);
}

.signin svg {
  height: 22px;
  width: auto;
}

/* *******************  PROFILE  ****************** */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-profile {
  display: flex;
  justify-content: center;
  background-color: #16161693;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  height: auto;
  border-radius: 20px;
  padding-bottom: 2%;
}
.title-profile {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  top: -140px;
  left: -300px;
  position: absolute;
}

.subtitle-profile {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 6%;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  border-bottom: #ffffff 1px solid;
}

.container-quiz {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.p-profile {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

.editimg-icon {
  width: 1.2rem;
  margin-left: 28%;
  margin-top: 26%;
  position: absolute;
}
.editimg-container {
  position: absolute;
  top: 10%;
  right: 38%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #5616eb;
}

/* *******************  FRIENDS PAGE ****************** */

.container-s{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input-friend {
  padding: 0px 18px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
  display: flex;
  height: 2.5rem;
  width: 20rem;
  color: #ffffff;
}
.input-friend:focus {
  outline: none;
}
.title-friends {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 4rem;
}

.btn-friend {
  background-color: #5616eb;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out .3s;
  margin-left: 10px;
}

.btn-friend:hover {
  background-color: #331183;
}

/* *******************   PAGE HOME ****************** */

.home-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
  position: absolute;
  
}


.form-quiz {
  display: grid;
  place-items: center;
  width: 400px;
  height: 472px;
  padding: 15px;
  background-color: #161616e0;
  box-shadow: 0px 5px 20px #0f0e0f;
  border-radius: 30px;
  position: relative;
}

.title-formq {
  color: #5616eb;
  font-weight: 600;
  font-size: 33px;
  margin-bottom: 2.5rem;
}

.text-quiz {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.text-opt {
  margin-top: 1.8rem;
}

.body-quiz {
  position: absolute;
  top: 50%;
  width: 275px;
  margin: -185px auto 0 auto;
}

.options {
  gap: 0.5rem;
}

.submit-container {
  margin-top: 0.5rem;
}

.btn-quiz {
  margin-top: 0.9rem !important;
}

/* *******************   MEDIA  ****************** */

@media screen and (max-width: 768px) {
  .title-profile {
    font-size: 1.5rem;
    top: -300px;
    left: -10px;
  }

  .subtitle-profile {
    font-size: 1rem;
    height: 1.5rem;
    width: 6rem;
  }

  .p-profile {
    font-size: 0.8rem;
  }

  .container-profile {
    width: 80%;
  }

  .title-friends {
    font-size: 1.5rem;
  }

  .input-friend {
    height: 2rem;
    width: 10rem;
    font-size: 0.8rem;
  }
  .btn-friend {
    font-size: 0.8rem;
    padding: 12px 10px 10px 10px;
  }
  .editimg-container{
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 35%;
  }
}
