* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* ******************* FORM LOGIN ****************** */

#form-ui {
  width: 100%;
  height: 100vh;
  background-color: #161616;
  padding-top: 5%;
  padding-left: 38%;
}

#form {
  display: grid;
  place-items: center;
  width: 300px;
  height: 472px;
  padding: 25px;
  background-color: #161616;
  box-shadow: 0px 30px 80px #5616eb;
  outline: 1px solid #410fb8;
  border-radius: 10px;
  position: relative;
}

#form-body {
  position: absolute;
  top: 50%;
  right: 25px;
  left: 25px;
  width: 230px;
  margin: -156px auto 0 auto;
}

#welcome-lines {
  text-align: center;
  line-height: 1;
}

#welcome-line-1 {
  color: #5616eb;
  font-weight: 600;
  font-size: 40px;
}

#welcome-line-2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 17px;
}

#input-area {
  margin-top: 40px;
}

.form-inp {
  padding: 11px 25px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
}

.form-inp:focus {
  border: 1px solid #5616eb;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: #5616eb;
  border: none;
  padding: 0;
  margin: 0;
}

.form-inp input:focus {
  outline: none;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  display: block;
  width: 100%;
  color: #5616eb;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid #5616eb;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

#submit-button:hover {
  transition: all ease-in-out .3s;
  background-color: #5616eb;
  color: #161616;
  cursor: pointer;
}

#forgot-pass {
  text-align: center;
  margin-top: 10px;
}

#forgot-pass a {
  color: #868686;
  font-size: 12px;
  text-decoration: none;
}  

/* ******************* GOOGLE BUTTON ****************** */
.signin {
  width: 100%;
  max-width: 320px;
  display: flex;
  padding: 0.4rem 1.4rem;
  font-size: 0.85rem;
  line-height: 1.2rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(43, 39, 39, 0.25);
  gap: 0.9rem;
  color: #c4d2dc;
  background-color: #19242b;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
}

.signin:active {
  transform: scale(0.975);
}

.signin svg {
  height: 22px;
  width: auto;
}
